---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="This is me"
	pubDate={new Date('August 08 2021')}
	heroImage="/pingu-explosion.jpg"
>
	<h4>Public informations</h4>
	<p>
		My name is Gabriel Oliveira, I'm 20y, currently living in Santa Maria, Rio Grande do Sul, Brazil. <br>
		I'm Full Stack developer, curretly working at <a href="https://www.jetimob.com/" target="_blank">Jetimob</a> since June 2022.
		<br>
	</p>

	<h4>My history</h4>
	<p>
		When I finished high school I had no idea what to do with my life, the only thing I knew was that I wanted work with something that I like to do.
		My philosophy was, <q><i>the life is to short to do something that you dont like for the rest of your life</i></q> ( I thought that when I was 17y, that's why all this optimism ),
		some time later I realized that all my friends where going to college and I though that I should be doing the same.
		<br>
		Then I threw away all my "philosophy" and I started law school 🫠, the things that I liked in school were all EXACT subjects, I did not like about read, about humam subjects,
		considering this law school was the worst choice for me, those were dark times.
		<br>
		After 6 months in law school I dropeed out (I don't know how I endured so much), in that time my friend was in Computer science college and he told me that maybe I would like it, then in March 2022 I started to learn with online contents and I was loving.
		<br>
		I updated my philosophy after, I added <q><i>But you can't die poor</i></q>, I know maybe this might sound a little rude but what I really wanted to do is help my family,
		to have a comfortable life, without being desperate every month for lack of money, that's why I added this part.
	</p>
</Layout>
