---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello and welcome!</h1>
			<p>
				My name is Gabriel, and this is my blog.
			</p>
			<p>
				I have decided to create this blog to help me write about the content that I am currently studying, and mainly to practice my english vocabulary.
			</p>
			<p>I will be creating articles about random stufs, like:</p>
			<ul>
				<li>Laravel</li>
				<li>Vue JS</li>
				<li>Design Patterns</li>
				<li>Laravel testing - (TDD, Mocks, Stubs)</li>
				<li>SOLID</li>
			</ul>
			<p>
				The topics I just mentioned are the subjects that I am more familiar with. But the most part of the articles that I want to write will be about the things that I am currently learning.
			</p>
		</main>
		<Footer />
	</body>
</html>
