---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Olá, Seja Bem-vindo !</h1>
			<p>
				Meu nome é Gabriel Oliveira e esse é meu Blog.
			</p>
			<p>
				Eu decidi criar esse blog para me fazer escrever sobre conteúdos que eu estudo.,
			</p>
			<p>Vou postar artigos de conteúdos muito variados: </p>
			<ul>
				<li>Laravel - (Provavalmente vai ter muito conteúdo sobre isso) </li>
				<li>Vue JS</li>
				<li>Design Patterns</li>
				<li>Tests - Principalmente testes voltados para aplicações laravel (TDD, Mocks, Stubs, Boas práticas)</li>
				<li>Solid</li>
			</ul>
			<p>
				Enfim, vai ter muita coisa por aqui, além desses conteúidos que é o que eu tenho mais familiaridade quero escrever sobre conteúdos sobre algo que sou mais leigo e estou começando a me aprofundar.
			</p>
		</main>
		<Footer />
	</body>
</html>
