---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, Everyone!</h1>
			<p>
				My name is Gabriel Oliveira, welcome to my blog !!!
			</p>
			<p>
				I decide to create this blog because a want to practice my english and be more consistent in my studies.
			</p>
			<p>In this blog I will talk about a lot of different things, like:</p>
			<ul>
				<li>Laravel - Thats is my favorite tecnology</li>
				<li>Vue JS</li>
				<li>Design Patterns</li>
				<li>Some outbursts about work or my life</li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
